@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 100% !important;
  overflow-x: hidden !important;
}

@layer base {
  h1 {
    @apply font-bold text-orange-700 dark:text-orange-200;
  }
  h2 {
    @apply font-bold text-stone-600 dark:text-stone-300;
  }
  h3 {
    @apply font-bold dark:text-orange-100;
  }
  h4 {
    @apply font-bold
  }
  h5 {
    @apply font-bold italic text-stone-600 dark:text-stone-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-container {
  min-height: calc(100vh - 10rem);
}

.clip-heart {
  clip-path: polygon(52% 18%, 46% 9%, 40% 3%, 31% 0, 17% 0, 7% 7%, 0 18%, 0 39%, 6% 55%, 17% 68%, 30% 82%, 52% 100%, 72% 84%, 86% 69%, 95% 55%, 100% 39%, 100% 18%, 95% 7%, 86% 0, 72% 0, 63% 3%, 57% 10%);
}

.clip-nonagon {
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
