@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  max-width: 100% !important;
  overflow-x: hidden !important;
}

@layer base {
  h1 {
    @apply font-bold text-orange-700 dark:text-orange-200;
  }
  h2 {
    @apply font-bold text-stone-600 dark:text-stone-300;
  }
  h3 {
    @apply font-bold dark:text-orange-100;
  }
  h4 {
    @apply font-bold
  }
  h5 {
    @apply font-bold italic text-stone-600 dark:text-stone-300;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.content-container {
  min-height: calc(100vh - 10rem);
  
}

.clip-card {
  clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
}
